@font-face {
  font-family: "akashi";
  src: url("Akashi.ttf");
}
body
  font-family: "akashi";
  text-align center
form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
input {
  font-family: inherit;
  padding-bottom: 5px;
}
h1 {
  font-size: 30px;
  text-align: center;
}

#container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


#red {
  background-color: #f00;
  width: 50px;
  height: 50px;
  margin: 5px;
  display inline-block
}
#blue {
  background-color: #00f;
  width: 50px;
  height: 50px;
  display inline-block
  margin: 5px;
}
#yellow {
  background-color: #ff0;
  width: 50px;
  height: 50px;
  display inline-block
  margin: 5px;
}
#green {
  background-color: #0f0;
  width: 50px;
  height: 50px;
  display inline-block
  margin: 5px;
}
#submit {
  font-size: 20px;
  margin: 5px;
}
#leave {
  font-size: 20px;
  margin: 5px;
}
#playername {
  font-size: 20px;
  margin: 5px;
}
#leftJoy, #rightJoy
  background-image url("Images/border.png")
  background-size 100% 100%
  width 200px
  height 200px
  position relative
  
#leftJoy
  position fixed
  left 0
  bottom 0

#rightJoy
  position fixed
  right 0
  bottom 0

.fore
  width 100px
  height 100px
  position absolute
  margin-left -50px
  margin-top -50px
  left 100px
  top 100px

#controller
  display none

.selected
  -webkit-box-shadow 0px 0px 20px black
  -moz-box-shadow 0px 0px 20px black
  box-shadow 0px 0px 20px black

#purple {
  background-color: #800080;
  width: 50px;
  height: 50px;
  display inline-block
  margin: 5px;
}
#pink {
  background-color: #ff1493;
  width: 50px;
  height: 50px;
  display inline-block
  margin: 5px;
}
#brown {
  background-color: #d2691e;
  width: 50px;
  height: 50px;
  display inline-block
  margin: 5px;
}
#orange {
  background-color: #ffa500;
  width: 50px;
  height: 50px;
  display inline-block
  margin: 5px;
}